.main-container {
  background: $black;
  width: 540px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px darken($black, 5%);
  padding-bottom: 20px;
  border-radius: 10px;

  &__title {
    color: $offWhite;
    font-size: 14px;
    font-weight: bold;
    padding-top: 16px;
    padding-left: 15px;
    padding-bottom: 17px;
  }

  &__middle-container {
    background: $innerContainerGrey;
    padding: 30px 30px 0px 30px;
    margin-bottom: 20px;
    border-top: 2px solid lighten($innerContainerGrey, 5%);
  }
}
