.navbar {
  background: $black;
  color: $offWhite;
  padding: 0;
  box-shadow: 0px 0px 20px darken($black, 5%);
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  &__main-header {
    margin: 18px auto;
  }

  &__text {
    height: 16px;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0px;
    letter-spacing: 1.43px;
    text-align: center;
  }

  &__subtext {
    margin: 7px auto 0px auto;
    text-align: center;
    opacity: 0.5;
    font-size: 12px;
    font-weight: 500;
  }

  &--judge-profile-container {
    padding-right: 16px;
    display: inline;
  }

  &--judge-profile {
    margin-right: 0px;
    padding-top: 25px;
  }

  &--judge-profile-text {
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: right;
    width: 100px;
    line-height: 14px;
  }

  &__col {
    padding: 0px;
    margin-right: 12px;

    &--last {
      margin-right: 30px;
    }
  }

  &__sidebar {
    // box-shadow: 2px 0 40px 0 #000;
    background-color: #131517;
    position: fixed !important;
    height: 100%;
    width: 100%;
    overflow: auto;
    max-width: 400px;
    color: #fff;
    position: fixed;
    left: 0px;
    top: 60px !important;
    padding: 0px 30px 30px 30px !important;
    z-index: 3;

    &--button {
      width: 100%;
      background-color: #1f2021;
      border: none;
      color: lighten(#1f2021, 25%);
      text-align: left;
      padding: 14px;
      font-size: 14px;
      box-shadow: inset 0 1px 0 0 #2b2b2b;

      &--active {
        background-color: #3123ae;
        color: #fff;
      }
    }

    &--button:focus {
      outline: none;
    }

    &--button:hover {
      background-color: #3123ae;
      color: #fff;
      transition: 0.25s;
    }

    &--button:first-child {
      border-radius: 5px 5px 0px 0px;
    }

    &--button:last-child {
      border-radius: 0px 0px 5px 5px;
    }

    &--routine {
      padding-left: 20px;
    }
  }
}
